{% extends 'base.html' %}

{% block content_main %}

<!-- Post Content Column -->

<div class="col-lg-8">

    <h1 class="mt-4">Edit Post</h1>

    <p class="lead">
        by
        <a href="#">Start Bootstrap</a>
    </p>

    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.text }}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>


</div>
{% endblock %}



